<div ng-controller="activeController">

    <!--displayed only to non users-->
    <div id="addSurveyBox" ng-show="(user || {}).role === 'ADMIN'">
        <label>subject:</label>
        <input type="text" ng-model="tempDescription"> <br>

        <label>answers:</label><br>
        <input type="text" ng-model="tempAnswer"> <br>
        <button type="button" class="btn btn-warning" ng-click="addNewAnswerToSurvey()">add answer</button>
        <br>
        <button on-click="addSurvey" type="button" ng-click="addSurvey()">add survey</button>

        <br><br><br>
        <label ng-show="tempDescription">Survey preview:</label>
        <div class="panel">
            {{tempDescription}}
            <ul>
                <li ng-repeat="answer in newSurvey.answers">{{answer}}</li>
            </ul>
        </div>
    </div>

    <br><br><br><br><br>

    <div ng-repeat="survey in surveys">
        <div>{{survey.description}}</div>
        <div ng-repeat="answer in survey.answers">
            <input type="radio" class="radio-inline"  value=""><label>{{answer}}</label>
        </div>
        <button ng-show="!((user || {}).role === 'ADMIN')" type="button" ng-click="attemptVote()"class="btn btn-info">vote</button>
    </div>

</div>