<div class="surveyContainer container">
    <h3>{{survey.description}}</h3>
    <div ng-repeat="answer in survey.answers" class="answer">
        <div class="radio">
            <label>
                <input ng-model="$parent.tempId" name="{{survey.id}}" type="radio" ng-value="answer.id">{{answer.text}}
            </label>
        </div>
    </div>
    <button ng-show="!((user || {}).role === 'ADMIN')" type="button" ng-click="attemptVote(survey.id, tempId)" ng-disabled="survey.disabled"class="btn btn-info">SUBMIT</button>


    <div ng-show="((user || {}).role === 'ADMIN')">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <button class="btn btn-danger" type="button" ng-click="takeSurveyAction(survey.id, 'delete')">DELETE</button>
                    <button ng-hide="{{survey.disabled}}" class="btn btn-warning" type="button" ng-click="takeSurveyAction(survey.id, 'disable')">DISABLE</button>
                    <button ng-show="{{survey.disabled}}" class="btn btn-success" type="button" ng-click="takeSurveyAction(survey.id, 'enable')">ENABLE</button>
                </div>
            </div>
        </div>
    </div>

</div>